version: "3.8"

services:
  boxfarma:
    image: boxfarma:latest
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - APP_URL=https://boxfarma.otmiz.tech
      - ASSET_URL=https://boxfarma.otmiz.tech
      - APP_FORCE_HTTPS=true
    deploy:
      labels:
        - traefik.enable=true
        - traefik.http.routers.boxfarmapdv.rule=Host(`boxfarma.otmiz.tech`)
        - traefik.http.routers.boxfarmapdv.entrypoints=websecure
        - traefik.http.routers.boxfarmapdv.tls.certresolver=letsencryptresolver
        - traefik.http.routers.boxfarmapdv.service=boxfarmapdv_svc
        - traefik.http.services.boxfarmapdv_svc.loadbalancer.server.port=80
    networks:
      - network_public
    volumes:
      - boxfarma-storage:/var/www/html/storage

volumes:
  boxfarma-storage:
    driver: local

networks:
  network_public:
    external: true