version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: boxfarma-app-image:latest
    container_name: boxfarma-app
    restart: unless-stopped
    working_dir: /var/www/html
    env_file: ./.env
    volumes:
      - boxfarma-storage:/var/www/html/storage
    networks:
      - internal 
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy

  nginx:
    image: nginx:1.23-alpine
    container_name: boxfarma-nginx
    restart: unless-stopped
    volumes:
      - ./docker/nginx.conf:/etc/nginx/conf.d/default.conf
      - boxfarma-storage:/var/www/html/storage
    depends_on:
      - app
    networks:
      - internal
      - public 
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.boxfarma-http.rule=Host(`api.boxfarma.com`)"
      - "traefik.http.routers.boxfarma-http.entrypoints=web"
      
      - "traefik.http.routers.boxfarma-https.rule=Host(`api.boxfarma.com`)"
      - "traefik.http.routers.boxfarma-https.entrypoints=websecure"
      - "traefik.http.routers.boxfarma-https.tls=true"
      - "traefik.http.routers.boxfarma-https.tls.certresolver=meu-resolver"
      
      - "traefik.http.services.boxfarma.loadbalancer.server.port=80"
      - "traefik.docker.network=public"

  db:
    image: mysql:8.0
    container_name: boxfarma-db
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: ${DB_DATABASE} 
      MYSQL_USER: ${DB_USERNAME} 
      MYSQL_PASSWORD: ${DB_PASSWORD}  
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD} 
    volumes:
      - boxfarma-db-data:/var/lib/mysql
    networks:
      - internal
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  redis:
    image: redis:6-alpine
    container_name: boxfarma-redis
    restart: unless-stopped
    networks:
      - internal
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 3

  worker:
    image: boxfarma-app-image:latest
    container_name: boxfarma-worker
    restart: unless-stopped
    command: "php artisan queue:work"
    env_file: ./.env
    volumes:
      - boxfarma-storage:/var/www/html/storage
    networks:
      - internal
    depends_on:
      app:
        condition: service_started
      db:
        condition: service_healthy
      redis:
        condition: service_healthy

volumes:
  boxfarma-db-data:
  boxfarma-storage:

networks:
  internal:
    driver: bridge
  public:
    external: true
    name: traefik_public